Library/PackageCache/com.unity.burst@1.8.15/.Runtime/libburst-llvm-16.so, filter=lfs diff=lfs merge=lfs -text
Library/PackageCache/com.unity.burst@1.8.15/.Runtime/burst-llvm-16.dll,Library/PackageCache/com.unity.burst@1.8.15/.Runtime/libburst-llvm-10.dylib, filter=lfs diff=lfs merge=lfs -text
Library/PackageCache/com.unity.burst@1.8.15/.Runtime/hostmac/dsymutil,Library/ArtifactDB,Library/PackageCache/com.unity.burst@1.8.15/.Runtime/burst-llvm-16-arm64.dll filter=lfs diff=lfs merge=lfs -text
Library/PackageCache/com.unity.burst@1.8.15/.Runtime/burst-llvm-16.dll, filter=lfs diff=lfs merge=lfs -text
Library/PackageCache/com.unity.burst@1.8.15/.Runtime/libburst-llvm-10.dylib, filter=lfs diff=lfs merge=lfs -text
Library/PackageCache/com.unity.burst@1.8.15/.Runtime/hostmac/dsymutil, filter=lfs diff=lfs merge=lfs -text
Library/ArtifactDB, filter=lfs diff=lfs merge=lfs -text
Library/PackageCache/com.unity.burst@1.8.15/.Runtime/burst-llvm-16-arm64.dll filter=lfs diff=lfs merge=lfs -text
Library/PackageCache/com.unity.burst@1.8.15/.Runtime/burst-llvm-16.dll filter=lfs diff=lfs merge=lfs -text
Library/ArtifactDB filter=lfs diff=lfs merge=lfs -text
Library/PackageCache/com.unity.burst@1.8.15/.Runtime/hostmac/dsymutil filter=lfs diff=lfs merge=lfs -text
Library/PackageCache/com.unity.burst@1.8.15/.Runtime/libburst-llvm-16.so filter=lfs diff=lfs merge=lfs -text
C:/Users/admin/Documents/GitHub/Daool_Tetris/Assets/Firebase/Plugins/x86_64/FirebaseCppApp-12_1_0.bundle filter=lfs diff=lfs merge=lfs -text
C:/Users/admin/Documents/GitHub/Daool_Tetris/Assets/Firebase/Plugins/x86_64/FirebaseCppApp-12_1_0.so filter=lfs diff=lfs merge=lfs -text
C:/Users/admin/Documents/GitHub/Daool_Tetris/Assets/Firebase/Plugins/x86_64/FirebaseCppApp-12_1_0.bundle filter=lfs diff=lfs merge=lfs -text
C:/Users/admin/Documents/GitHub/Daool_Tetris/Assets/Firebase/Plugins/x86_64/FirebaseCppApp-12_1_0.so filter=lfs diff=lfs merge=lfs -text
C:/Users/admin/Documents/GitHub/Daool_Tetris/Assets/Firebase/Plugins/x86_64/FirebaseCppApp-12_1_0.bundle filter=lfs diff=lfs merge=lfs -text
C:/Users/admin/Documents/GitHub/Daool_Tetris/Assets/Firebase/Plugins/x86_64/FirebaseCppApp-12_1_0.so filter=lfs diff=lfs merge=lfs -text
*.so filter=lfs diff=lfs merge=lfs -text
*.bundle filter=lfs diff=lfs merge=lfs -text
